<% if (success && success.length) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success alert-dismissible fade show mx-auto mt-3 shadow-lg rounded-3 col-md-6 col-sm-10" role="alert">
      <i class="bi bi-check-circle-fill me-2"></i> <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
<% } %>

<% if (error && error.length) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-danger alert-dismissible fade show mx-auto mt-3 shadow-lg rounded-3 col-md-6 col-sm-10" role="alert">
      <i class="bi bi-exclamation-triangle-fill me-2"></i> <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
<% } %>
